body {
  height: 100%;
  background-color: #E9EBF7 !important;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.navBar {
  padding: 10px;
  background-color: #fff;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}
.navBar p{
  text-transform: uppercase;
  color: #2b3026;
  font-weight: 700;
  font-size: 28px;
}
.space{
  color: orange;
}
.complexity{
  color: teal;
}
.repo{
  text-transform: capitalize;
  float: right;
  font-size: 14px;
  padding-right: 20px;
}
.main{
  padding: 40px 15px;
}

.tables{
  margin-bottom: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  margin-top: 50px;
  flex-shrink: 0;
  text-align: center;
  color: rgb(129, 129, 129);
  height: 50px;
}
.footer p{
  padding-top: 15px;
}